dagster~=1.10.9
pandas~=2.2.3
seaborn~=0.13.2
pymongo~=4.11.3
dagster-webserver
dagster_postgres
dagster-docker
notebook
scikit-learn~=1.6.1
dagstermill~=0.26.9
nbconvert
ipython
ipykernel
matplotlib~=3.9.4
plotly~=5.24.1
requests~=2.32.3
six~=1.16.0
numpy~=2.2.4
ipywidgets~=8.1.5
dash~=3.0.2
flask-cors~=5.0.1